.done-list{
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0px;
}
.done-item{
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
}